body{
  margin: 0;
  padding: 0;
  /*display: flex;*/
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #060c21;

}
button{
  margin: 50px ;
}
input{
  width: 500px;
}
.card{
margin-left: 100px;
  width: 540px;
  background: whitesmoke;
}


