<body>
<div class="card" style="width: 15rem;height: 32rem">
  <img src="../../assets/img/siemens-s7-1500-plc-500x500.jpg" height="240" width="70" class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title">PLC</h5>
    <p class="card-text">Description Siemens S7 1500 PLC -
      Buy Siemens PLC at best price of
      Rs 10000/number from Ecosys Efficiencies
      Private Limited. Also find here related product ...</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 15rem;height: 32rem">
  <img src="../../assets/img/siemens-s7-1500-plc-500x500.jpg" height="240" width="70" class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title">PLC</h5>
    <p class="card-text">Description Siemens S7 1500 PLC -
      Buy Siemens PLC at best price of
      Rs 10000/number from Ecosys Efficiencies
      Private Limited. Also find here related product ...</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 15rem;height: 32rem">
  <img src="../../assets/img/siemens-s7-1500-plc-500x500.jpg" height="240" width="70" class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title">PLC</h5>
    <p class="card-text">Description Siemens S7 1500 PLC -
      Buy Siemens PLC at best price of
      Rs 10000/number from Ecosys Efficiencies
      Private Limited. Also find here related product ...</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</body>
